/* app css stylesheet */
*{
	overflow-x:hidden;
}
.icon,a{
	overflow-y: hidden;
}
span.glyphicon.glyphicon-chevron-down{
	overflow-y: hidden;
	font-size: 50px;
	font-weight: 5px;
	color: white;
}
span.glyphicon.glyphicon-chevron-right{
	overflow-y: hidden;
	font-size: 50px;
	font-weight: 5px;
	float: left;
}
span.glyphicon.glyphicon-chevron-left{
	overflow-y: hidden;
	font-size: 50px;
	font-weight: 5px;
	float: left;
}
body{
	margin:0;
}
img.bg{
	z-index: -1;
}
h1{
	font-kerning: normal;
font-variant-ligatures: common-ligatures contextual;
-moz-font-feature-settings: "kern", "liga", "clig", "calt";
-ms-font-feature-settings: "kern", "liga", "clig", "alt";
-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
font-feature-settings: "kern", "liga", "clig", "calt";
}
.btn1{
	font-size: 40px;
	padding: 0px;
	margin: 0px;
}
